<div class="row">
    <div class="col-md-12 title">
        <h2 class='col-md-6 '>Current Open Positions</h2>
        <a href="/jobs/new">
            <button class='btn btn-default pull-right'>Create New Job Posting</button>
        </a>
    </div>

</div>


{{#each jobs}}
    <div class="row">
        <div class="job col-md-12">
            <h4><strong>{{jobTitle}}</strong>  - <strong>{{companyName}}</strong> - posted {{date}}</h4>
            <p>Description:</p>
            <p>{{description}}</p>



            <div>
                <a href="/jobs/{{_id}}">
                    <button class="btn btn-default">View Job</button>
                </a>

            </div>

        </div>
    </div>
{{/each}}

