<div class="row">
    <h1 class="col-md-5">{{jobTitle}} - {{companyName}}</h1>
    <a href="/jobs/{{_id}}/edit" class="col-md-2 pull-right">
        <button class="btn">Edit Job Posting</button>
    </a>
</div>
<div class="row">
    <p>posted {{date}}</p>
</div>

<div class="row">
    <p>{{description}}</p>
</div>
<div class="row">
    <p>{{responsibilities}}</p>

</div>


<div class="row">
    <a href="/jobs/{{_id}}/applications/new">
        <button>Apply For Job</button>
    </a> This posting is {{isOpen}}
</div>

<h1 class="row">Current Applicants</h1>
<div class="row">

</div>

